  <table border="3" class="pt-2 text-start  text-center">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data de Vencimento</th>
            <th>Descrição</th>
            <th></th>
            <th></th>
        </tr>
        
    </thead>
    <tbody>
        <tr>
            <td>Produto A</td>
            <td>2023-10-15</td>
            <td>Descrição do Produto A</td>
            <td><button id="editar"><i class="bi bi-pencil-fill"></i></button></td>
            <td><button id="excluir"><i class="bi bi-x-circle"></i></button></td>

        </tr>
        <tr>
            <td>Produto B</td>
            <td>2023-11-20</td>
            <td>Descrição do Produto B</td>
            <td><button id="editar"><i class="bi bi-pencil-fill"></i></button></td>
            <td><button id="excluir"><i class="bi bi-x-circle"></i></button></td>
        </tr>
        <tr>
            <td>Produto C</td>
            <td>2023-12-05</td>
            <td>Descrição do Produto C</td>
            <td><button id="editar"><i class="bi bi-pencil-fill"></i></button></td>
            <td><button id="excluir"><i class="bi bi-x-circle"></i></button></td>
        </tr>
        <tr>
            <td>Produto D</td>
            <td>2024-01-10</td>
            <td>Descrição do Produto D</td>
            <td><button id="editar"><i class="bi bi-pencil-fill"></i></button></td>
            <td><button id="excluir"><i class="bi bi-x-circle"></i></button></td>
        </tr>
    </tbody>
</table>
    
