table {
    margin: 0 auto; 
    margin-top: 30px;
    width: 80%; 
    max-width: 800px;
    
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 16px );
    -webkit-backdrop-filter: blur( 16px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    font-size: 20px;
}

#editar {
    background-color: transparent;
    border: 0;
    

}

#editar i{
    
    transition: color 0.5s ease, transform 0.5s ease;
}
#editar i:hover{color: rgb(65, 141, 255);}
#excluir{
    background-color: transparent;
    border: 0;
}

#excluir i{
    transition: color 0.5s ease, transform 0.5s ease;

}
#excluir i:hover{
    color: red;
}