<div class="container-fluid " id="pagina">

    <div class="submit-form"></div>

    <div class=" pt-2 text-start  text-center " id="form" *ngIf="!submitted">
        <h1 class="pt-5">Cadastrar Item</h1>
        <div class="form-group  " >
            <p>Nome:</p>
            <input type="text" class="form-control" id="name" required [(ngModel)]="produto.name" name="name" placeholder="Digite o nome do produto">
            <p>Data de vencimento:</p>
            <input type="date" class="form-control" id="date" required [(ngModel)]="produto.date" name="date" placeholder="Digite seu nome">
            <p>Descrição do produto:</p>
            <textarea class="form-control form-control-lg pt-5" id="description" required [(ngModel)]="produto.description" name="description"  rows="4"></textarea>
            <br>
            <div class="text-center py-5 "><button class="btn-salvar" (click)="saveProduto()">Salvar</button></div>
          </div>
      </div>
</div>