
*{
    color: white;
}


body {
    background-image: url('../src/assets/img/10-14-Night-Thumb.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    color: white; 
    font-family: Lato, sans-serif;
}
  
